/*-- Navigation --*/

/* Actions Wrapper */
.navbar .navbar-wrapper .actions .actions-wrapper {
    margin-left: 64px;
}


/*-- Content --*/

/* About */
.about {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-wrapper {
    width: 100%;
    max-width: 752px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/*-- Responsive Breakpoint --*/

@media screen and (max-width: 586px) {
    /*-- Navigation --*/

    /* Actions */
    .navbar .navbar-wrapper .actions {
        margin-left: 0;
    }

    /* Links */
    .navbar .navbar-wrapper .actions .nav-links {
        display: none;
    }

    /* Toggle Menu */
    .navbar .navbar-wrapper .actions .actions-wrapper .toggle-menu {
        display: flex;
    }
}